@model IEnumerable<product>
@{
    ViewData["Title"] = "product";
}

<h1 class="display-4 pb-5">@ViewBag.categoryname </h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <img  src="~/madia/product/@item.image" class="img-fluid"alt=""width="200"height="200"/>
            <h4>@item.name</h4>
            <div>
                @Html.Raw(item.discription)
            </div>
            <p>@item.price.ToString("c2")</p>
            <p>
                <a asp-controller="Card" asp-action="Add" asp-route-id="@item.id" class="btn btn-primary">Add To Card</a>
            </p>
        </div>
    }

</div>
